@model PagedList.PagedList<NGKShop.Models.LOAINGK>
@using PagedList.Mvc;
@using NGKShop.Models;

@helper Truncate(string input, int length)
{
if (input.Length < length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}
@{
    ViewBag.Title = "LoaiHang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Lọai hàng</h2>

<p>
    @Html.ActionLink("Thêm loại hàng", "ThemLH")
</p>
<table class="table">
    <tr>
        <th>
            Tên loại hàng
        </th>
        <th>
            Mã nhà cung cấp
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNCC)
        </td>
        <td>
            @Html.ActionLink("Sửa", "SuaLH", new { id = item.MaLH }) |
            @Html.ActionLink("Chi tiết", "ChitietLH", new { id = item.MaLH }) |
            @Html.ActionLink("Xóa", "XoaLH", new { id = item.MaLH })
        </td>
    </tr>
}

</table>
@*Tạo liên kết các trang*@
<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("LoaiHang", new { page = page }))
</div>