@model PagedList.PagedList<NGKShop.Models.NCC>
@using PagedList.Mvc;
@using NGKShop.Models;

@helper Truncate(string input, int length)
{
if (input.Length < length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}
@{
    ViewBag.Title = "KhachHang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewBag.Title = "NCC";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Nhà cung cấp</h2>

<p>
    @Html.ActionLink("Thêm NCC", "ThemNCC")
</p>
<table class="table">
    <tr>
        <th>
            Tên nhà cung cấp
        </th>
        <th>
           Dia chi nhà cung cấp
        </th>
        <th>
            SDT nhà cung cấp
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChiNCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDTNCC)
        </td>
        <td>
            @Html.ActionLink("Sửa", "SuaNCC", new { id = item.MaNCC }) |
            @Html.ActionLink("Chi tiết", "ChitietNCC", new { id = item.MaNCC}) |
            @Html.ActionLink("Xóa", "XoaNCC", new { id = item.MaNCC })
        </td>
    </tr>
}

</table>
<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("NCC", new { page = page }))
</div>