@model NGKShop.Models.NCC

@{
    ViewBag.Title = "ThemNCC";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm nhà cung cấp</h2>

@using (Html.BeginForm("ThemNCC", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Tên nhà cung cấp
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenNCC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenNCC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Địa chỉ
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChiNCC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiaChiNCC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            SDT
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDTNCC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDTNCC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "NCC")
</div>
