@model NGKShop.Models.MATHANG

@{
    ViewBag.Title = "XoaNGK";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xác nhận xóa </h2>

<h3>Bạn có muốn xóa mặt hàng này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã loại hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLH)
        </dd>

        <dt>
            Tên mặt hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMH)
        </dd>

        <dt>
            Đơn vị tính:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonViTinh)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            Giá bán:
        </dt>

        <dd>
            @string.Format("{0:0,0}", Model.GiaBan) VND
        </dd>

        <dt>
            Hình sản phẩm:
        </dt>

        <dd>
            <img src="@Url.Content("~/Content/Hinhsp/"+ Model.HinhSP)" width="250px" />
        </dd>

        <dt>
            Khuyến mãi:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuyenMai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "NGK")
        </div>
    }
</div>
