@using NGKShop.Models;
@{
    ViewBag.Title = "TimKiem";
    Layout = "~/Views/Shared/_LayoutSPTheoLH.cshtml";
}
<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub">
    <div class="w3ls_w3l_banner_nav_right_grid1 w3ls_w3l_banner_nav_right_grid1_veg">
        @foreach (var mathang in Model)
        {
            <div class="col-md-3 top_brand_left" style="padding:10px 0">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="tag"><img src="images/tag.png" alt=" " class="img-responsive" /></div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="@Url.Action("Details", "HomePage", new { id = mathang.MaMH }) "><img title=" " alt=" " src="~/Content/Hinhsp/@mathang.HinhSP" height="225px" width="225px" /></a>
                                        <p>@mathang.TenMH</p>
                                        <h4>@mathang.GiaBan <span>$10.00</span></h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <a class="button" href="@Url.Action("ThemGiohang","GioHang", new { @iMaMH = @mathang.MaMH, @strURL = Request.Url.ToString() })" style="padding: 5px 5px">Them vao gio hang</a>

                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

