@using NGKShop.Models
@model List<Giohang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutCheckOut.cshtml";
}

<h4>Your shopping cart contains: <span>@ViewBag.Tongsoluong Sản phẩm</span></h4>
<table class="timetable_sub">
    <thead>
        <tr>
            <th>Mã hàng</th>
            <th>Hình ảnh</th>
            <th>Số lượng</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Thành tiền</th>
            <th>Remove</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
         <tbody>
            <tr class="rem1">
                <td class="invert">@item.iMaMH</td>
                <td class="invert-image"><a href="@Url.Action("Details","HomePage", new { @id = item.iMaMH })"><img src="~/Content/Hinhsp/@item.sHinhSP" alt=" " class="img-responsive"></a></td>
        @using (Html.BeginForm("CapnhatGiohang", "Giohang", new { @iMaMH = item.iMaMH }))
        {
                <td class="invert">
                    <input type="number" min="1" name="txtSoluong" value="@item.iSoluong" style="background-color:yellow;" />
                </td>
                <td class="invert">@item.sTenMH</td>
                <td class="invert">@String.Format("{0:0,0}", @item.dDonGia)</td>
                <td class="invert">@String.Format("{0:0,0}", @item.dThanhtien)</td>
                <td class="invert">
                    <div class="rem">
                        <a class="close1" href="@Url.Action("XoaGiohang", "GioHang", new { @iMaMH = item.iMaMH })"></a>
                    </div>
                </td>
                <td class="invert"><input type="submit" value="Update" /></td>
          }
            </tr> 
        </tbody>
    }
</table>

